<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Data Analysis V1.0</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
   
	<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  </head>

  <body>

    <div class="container">
      <div class="header" style="margin-bottom:40px;">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Indices<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="SectorIndices">Add new Index</a></li>
                    <li><a href="AllSectors">Edit Index Stocks</a></li>
                    <li class="divider"></li>
                    <li><a href="GenerateIndices">Generate Indices Data</a></li>
                </ul>
              </li>
			  <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Performance<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/SectorPerformance">Sector indices performance</a></li>
                    <li><a href="/StockPerformance">Stocks performance</a></li>
                </ul>
              </li>
			<li role="presentation" ><a href="DataComposition">Data Composition</a></li>
            <li role="presentation" ><a href="bollinger_bands">Bollinger Bands</a></li>
			  
			  
			  
          </ul>
        </nav>
        <h3 class="text-muted">Sector Indices Creator</h3>
      </div>


	